/* *{
    padding:0;
    margin:0;
    box-sizing:border-box;
} */
.contact_test {
  background-color: #0c3c60;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Serif", sans-serif;
}
.contact__section {
  background-size: 100% 100%;
  width: 100%;
  height: 85vh;
  max-width: 900px;
  background-color: #0c3c60;
}

.contact__head {
  background-color: #8b008b;
  border-radius: 5px;
  margin-top: -40px;
  -webkit-box-shadow: -5px 6px 76px 0px rgba(139, 0, 139, 1);
  -moz-box-shadow: -5px 6px 76px 0px rgba(139, 0, 139, 1);
  box-shadow: -5px 6px 76px 0px rgba(139, 0, 139, 1);
}
.contact__headCenter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 40px;
  padding-right: 30%;
  white-space: nowrap;
  text-align: center;
}
.contact__headCenter > h3 {
  font-size: 30px;
}
.effect-1 {
  border: 0;
  outline: none;
  width: 100%;
  padding: 4px 0;
  border-bottom: 1px solid rgb(221, 218, 218);
  margin-bottom: 10px;
}
.effect-1 ~ .Focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #8b008b;
  transition: 0.4s;
}
.effect-1:focus ~ .Focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}
.btn1 {
  background-color: #cf30cf;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 145px;
  -webkit-box-shadow: 2px 4px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 11px 0px rgba(0, 0, 0, 0.75);
}
.btn1:active {
  margin-top: 3px;
  z-index: 1;
}
.btn1:hover {
  background-color: rgb(243, 243, 243);
  color: #cf30cf;
  border: 0.3px solid lightgray;
  -webkit-box-shadow: -5px 6px 76px 0px rgba(139, 0, 139, 1);
  -moz-box-shadow: -5px 6px 76px 0px rgba(139, 0, 139, 1);
  box-shadow: -5px 6px 76px 0px rgb(206, 118, 206);
}
.contact__robot {
  height: 150px;
  align-items: center;
  justify-content: space-between;
}
.contact__message {
  resize: vertical;
}
